<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <%= form_with url: search_room_path, method: :get do |f| %>
                <div class="form-group row">
                    <label for="text_search">Free text search</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="text_search" id="text_search" rows="3" value="<%= @text_search %>"><%= @text_search %></textarea>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-form-label col-md-auto">Areas</label>
                    <div class="w-100"></div>
                    <div class="form-check col-md-auto">
                        <input class="form-check-input" type="checkbox" name="areas[]" id="areas1" value="Tokyo" <%= @areas && @areas.include?("Tokyo") ? "checked" : "" %> >
                        <label class="form-check-label" for="areas1">
                            Tokyo
                        </label>
                    </div>
                    <div class="form-check col-md-auto">
                        <input class="form-check-input" type="checkbox" name="areas[]" id="areas2" value="Osaka" <%= @areas && @areas.include?("Osaka") ? "checked" : "" %> >
                        <label class="form-check-label" for="areas2">
                            Osaka
                        </label>
                    </div>
                    <div class="form-check col-md-auto">
                        <input class="form-check-input" type="checkbox" name="areas[]" id="areas3" value="Kyoto" <%= @areas && @areas.include?("Kyoto") ? "checked" : "" %> >
                        <label class="form-check-label" for="areas3">
                            Kyoto
                        </label>
                    </div>
                    <div class="form-check col-md-auto">
                        <input class="form-check-input" type="checkbox" name="areas[]" id="areas4" value="Sapporo" <%= @areas && @areas.include?("Sapporo") ? "checked" : "" %> >
                        <label class="form-check-label" for="areas4">
                            Sapporo
                        </label>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <% if @rooms %>
        <div class="row mt-2 row-cols-1 gy-2 justify-content-center">
            <h5><strong>Search results: <%= @rooms.length() %></strong</h5>
        </div>
        <div class="row mt-2 row-cols-1 gy-2 justify-content-center">
            <% @rooms.each do |room| %>
                <div class="col-13 card md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <% if room.image.attached? %>
                                <%= image_tag url_for(room.image), class: 'img-fluid rounded-start', data: { turbolinks: false }, :style => "max-height:400px; object-fit: contain;" %>
                            <% else %>
                                <img src="/default_room.jpg" class="img-fluid rounded-start" style="max-height:400px; object-fit: contain;" />
                            <% end %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title"><%= link_to room.name, view_room_path(room.id), data: { turbolinks: false } %></h2>
                                <p class="card-text"><%= room.introduction %></p>
                                <p class="card-text"><small class="text-muted"><%= room.address %></small></p>
                                <p class="card-text"><small class="text-muted"><%= room.fee %></small></p>
                                <p class="card-text"><small class="text-muted"><%= room.created_at.strftime("%F") %></small></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <%= link_to 'Do Reservation', new_reservation_path(room.id), data: { turbolinks: false }, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>