<!DOCTYPE html>
<html>
  <head>
    <title>Reservations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
          <% if current_user %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <% if current_user.image.attached? %>
                    <%= image_tag url_for(current_user.image), style: 'width:30px' %> <%= current_user.name %>
                  <% else %>
                    <img src="default_profile.jpg" width="30" /> <%= current_user.name %>
                  <% end %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= link_to 'Change Profile', profile_path(current_user.id), class: "dropdown-item" %></li>
                <li><%= link_to 'Change Password', edit_password_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Log Out', sessions_path, method: :delete, class: "dropdown-item" %></li>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <%= link_to 'My Rooms', user_rooms_path(current_user.id), class: "nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Room Search', url_for( '#' ), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'My Reservations', url_for( '#' ), class: "nav-link" %>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <%= link_to 'Login', login_path, class: "nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'New Registration', users_new_path, class: "nav-link" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <% if flash.any? %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <% flash.each do |type, msg| %>
            <strong><%= msg %></strong>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
